/*
 * IMPLAN Torreón
 *
 * Copyright 2014 Guillermo Valdés Lozano <guivaloz@movimientolibre.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 * MA 02110-1301, USA.
 *
 */

/*
 * GENERAL
 */
body {
    background-color:#524B48; /* GRIS OSCURO */
/*  padding-top:50px; */
    font-family:"Liberation Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:14px;
    line-height:1.2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:"Liberation Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:bold;
}
a,
a:active,
a:visited { text-decoration:none; color:#e2007e; }
a:hover,
a:focus   { text-decoration:none; color:#000; }

/*
 * SIN ESQUINAS REDONDEADAS
 */
.panel,
.panel-default,
.panel-group .panel,
.panel-heading,
.list-group,
.nav-bar {
    border-radius:0px;
    border:0px;
}
.panel > .list-group:last-child .list-group-item:last-child {
    border-radius:0px;
}

/*
 * TABLAS
 */
.table-bordered,
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #888;
}

/*
 * MENU PRINCIPAL
 */
#menu-principal {
    background-color:#524B48; /* GRIS OSCURO */
    border-bottom:2px solid #ff7500;
    font-size:12px;
    font-weight:bold;
    margin-bottom:4px;
}

/* NOMBRE DEL SITIO */
#menu-principal a.navbar-brand         { color:#FFF; }
#menu-principal a.navbar-brand:hover,
#menu-principal a.navbar-brand:focus   { color:#FF7500; }
#menu-principal a.navbar-brand:active,
#menu-principal a.navbar-brand:visited { color:#FFF; }

/* OPCIONES */
#menu-principal .navbar-nav li a         { color:#FFF; }
#menu-principal .navbar-nav li a:hover,
#menu-principal .navbar-nav li a:focus   { color:#FF7500; }
#menu-principal .navbar-nav li a:active,
#menu-principal .navbar-nav li a:visited { color:#FFF; }

/*
 * MENU REGIONES SUBINDICES INDICADORES
 */
.menu-subindices-indicadores {
    font-size:12px;
    margin:0;
    color:#FFF;
    border:solid 1px #AAA;
}
.panel-group .panel + .panel {
    margin-top:1px;
}
.menu-subindices-indicadores > .panel-heading {
    padding:0;
    background-color:#CCC;
    background: -webkit-gradient(linear, left top, left bottom, from(#616161), to(#3c3c3c));
    background: -moz-linear-gradient(top, #616161, #3c3c3c);
    background: -o-linear-gradient(top, #616161, #3c3c3c);
    background: -webkit-linear-gradient(top, #616161, #3c3c3c);
    background: -ms-linear-gradient(top, #616161, #3c3c3c);
    background: linear-gradient(top, #616161, #3c3c3c);
}
.menu-subindices-indicadores > .panel-heading a {
    padding:8px;
    display:block;
    color:#FFF;
}
.menu-subindices-indicadores > .panel-heading a:active,
.menu-subindices-indicadores > .panel-heading a:visited { color:#FFF; }
.menu-subindices-indicadores > .panel-heading a:hover,
.menu-subindices-indicadores > .panel-heading a:focus   { color:#FFF; background-color:#ff7500; }
.menu-subindices-indicadores > .panel-collapse {
    background-color:#FFF;
    border:solid 1px #524B48;
}
.menu-subindices-indicadores-body {
    padding:0;
}
.menu-subindices-indicadores-block {
    float:left;
    width:20%;
    padding:2px;
    min-height:720px;
}
.menu-subindices-indicadores-eje {
    text-align:center;
    padding:2px;
    margin:0;
    color:#444;
    font-weight:bold;
}
.menu-subindices-indicadores ul {
    margin:0;
    padding-top:4px;
    padding-left:0;
}
.menu-subindices-indicadores li {
    margin:2px 4px;
    padding-left:0;
    list-style-type:none;
    text-align:left;
}

.menu-subindices-indicadores a {
    padding:2px 4px;
    display:block;
    color:#000;
}
.menu-subindices-indicadores a:active,
.menu-subindices-indicadores a:visited { color:#000; }
.menu-subindices-indicadores a:hover,
.menu-subindices-indicadores a:focus   { color:#FFF; background-color:#ff7500; }

/*
 * CONTENIDO
 */
#contenido .container {
    background-color:#EEE;
    padding-top:8px;
    padding-bottom:12px;
}
#contenido section {
    background-color:#FFF;
    padding:8px;
    font-size:14px;
    line-height:1.5em;
    border-bottom:solid 2px #BBB;
    margin-bottom:8px;
}
#contenido article {
    background-color:#FFF;
    padding:8px;
    font-size:14px;
    line-height:1.5em;
    border-bottom:solid 2px #BBB;
    margin-bottom:8px;
}
#contenido h1,
#contenido h2,
#contenido h3 {
    margin-top:8px;
    margin-bottom:8px;
}
#contenido blockquote p {
    font-size:16px;
    line-height:1.5em;
}
#contenido table {
    margin-bottom:4px;
}
table.matriz > thead > tr > th {
    background-color:#EEE;
    font-size:12px;
}
table.matriz > tbody > tr > td {
    vertical-align:middle;
    font-size:12px;
}
.centrado {
    text-align:center;
}
.derecha {
    text-align:right;
    white-space:nowrap;
}
.vinculo {
    display:block;
    width:100%;
}
.nd {
    background-color:#EEE;
    color:#888;
    text-align:center;
}
.color1 { background-color:#FFF2E3; }
.color2 { background-color:#EDF0FF; }
.color3 { background-color:#FFFCC3; }
.color4 { background-color:#FFE7FF; }
.color5 { background-color:#EAF0CC; }
.color6 { background-color:#E8FCE6; }
.color7 { background-color:#FFF1CF; }
.color8 { background-color:#EFE5F9; }
.autor-fecha {
    font-size:12px;
    line-height:1em;
    color:#888;
    display:none;
}
.instrucciones {
    font-size:11px;
    color:#444;
}
.grafica {
    background-color:#F0F0F0;
}
.btn-publicacion-completa,
.btn-publicacion-completa:hover,
.btn-publicacion-completa:focus {
    border-color:#524B48;
    color:#524B48;
}
.btn-categoria,
.btn-categoria:hover,
.btn-categoria:focus {
    color:#524B48;
}

/* MAPA */
.mapa {
    height:500px;
    margin-top:8px;
    margin-bottom:8px;
    border:1px solid #CCC;
    -webkit-border-radius:4px;
       -moz-border-radius:4px;
    border-radius:4px;
}

/* PAGINACION */
.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus { background-color:gray; border-color:gray; color:white; }

/*
 * MENU SECUNDARIO
 */
.menu-secundario {
    font-size:12px;
    padding:0;
    margin-bottom:8px;
}
.panel-heading {
    padding:4px 12px;
}
li.list-group-item {
    padding:0;
    border:none;
    background-color:#CCC;
    background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#a1a1a1));
    background: -moz-linear-gradient(top, #ebebeb, #c1c1c1);
    background: -o-linear-gradient(top, #ebebeb, #c1c1c1);
    background: -webkit-linear-gradient(top, #ebebeb, #c1c1c1);
    background: -ms-linear-gradient(top, #ebebeb, #c1c1c1);
    background: linear-gradient(top, #ebebeb, #c1c1c1);
}
li.list-group-item a {
    padding:4px 12px;
    display:block;
    color:#000;
    border:solid 1px #FFF;
}
li.list-group-item a:active,
li.list-group-item a:visited { color:#000; }
li.list-group-item a:hover,
li.list-group-item a:focus   { color:#FFF; background-color:#ff7500; }

/*
 * INFERIOR
 */
#inferior {
    margin:0;
    padding-top:8px;
    padding-bottom:8px;
    background-color:#524B48;
    color:#888;
    font-size:12px;
    font-weight:normal;
}
#inferior a         { color:#CCC; text-decoration:none; }
#inferior a:active,
#inferior a:visited { color:#CCC; }
#inferior a:hover,
#inferior a:focus   { color:#FFF; }
.inferior-logo {
    margin-top:24px;
    margin-bottom:24px;
}
/* MAPA DEL SITIO  */
.inferior-mapa {
    margin-top:36px;
    margin-bottom:16px;
    border-right:solid #AAA 2px;
    color:#888;
    height:140px;
}
.inferior-mapa-ultimo {
    border-right:none;
}
.inferior-mapa ul {
    margin:0;
    padding:2px 0 0 0;
}
.inferior-mapa li {
    margin-top:2px;
    margin-bottom:2px;
    padding-left:16px;
    list-style-type:none;
    text-align:left;
}
.inferior-mapa a         { color:#CCC; text-decoration:none; display:block; padding:2px; }
.inferior-mapa a:active,
.inferior-mapa a:visited { color:#CCC; }
.inferior-mapa a:hover,
.inferior-mapa a:focus   { color:#FFF; background-color:#FF7300; }

/*
 * PIE
 */
#pie {
    background-color:#1b1e25;
    color:#DDD;
    font-size:10px;
}
#pie p {
    padding-top:8px;
    padding-bottom:8px;
    text-align:right;
}
#pie a         { color:#CCC; font-weight:bold; }
#pie a:hover,
#pie a:focus   { color:#FFF; }
#pie a:active,
#pie a:visited { color:#CCC; }

/**
 * RESPONSIVO
 */
@media only screen and (max-width: 992px) {
    .inferior-logo {
        margin-top:4px;
        margin-bottom:4px;
    }
    .inferior-mapa {
        margin-top:4px;
        margin-bottom:4px;
        border-right:none;
        height:auto;
    }
}
@media only screen and (max-width: 640px) {
    .inferior-logo {
        width:400px;
        margin-top:4px;
        margin-bottom:2px;
    }
    .inferior-mapa {
        margin-top:4px;
        margin-bottom:4px;
        border-right:none;
        height:auto;
    }
}
@media only screen and (max-width: 500px) {
    .inferior-logo {
        width:200px;
        margin-top:2px;
        margin-bottom:2px;
    }
    .inferior-mapa {
        margin-top:4px;
        margin-bottom:4px;
        border-right:none;
        height:auto;
    }
}
