/*
 * trcimplan.css
 */

.mapa {
    height:500px;
    margin-top:8px;
    margin-bottom:8px;
    border:1px solid #CCC;
    -webkit-border-radius:4px;
       -moz-border-radius:4px;
    border-radius:4px;
}
